@import 'reset',
'variables',
'addMattress';

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.mattress-container {

    &-col {

        display: flex;
        width: 100%;

        &-img {
            width: 100%;

            img {
                width: 50%;
            }
        }

        &-content {}
    }
}